<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yjkj.chainup">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 指纹识别的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 友盟 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.READ_INPUT_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 处理无法安装app的问题 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />
    <application
        android:name=".app.ChainUpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".new_version.activity.leverage.BorrowRecordsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".new_version.activity.leverage.HistoryLoanActivity" />
        <activity android:name=".new_version.activity.leverage.CurrentLoanActivity" />
        <activity android:name=".new_version.activity.leverage.LeverDrawRecordActivity" />
        <activity android:name=".new_version.activity.leverage.LeverTransferRecordActivity" />
        <activity android:name=".new_version.activity.b2c.B2CRecordsActivity" />
        <activity android:name=".new_version.activity.b2c.B2CBankListActivity" />
        <activity android:name=".new_version.activity.b2c.B2CWithdrawAccountActivity" />
        <activity android:name=".new_version.activity.b2c.B2CWithdrawAccountListActivity" />

        <activity android:name=".new_version.activity.b2c.B2CRechargeActivity" />
        <activity android:name=".new_version.activity.b2c.B2CWithdrawActivity" />
        <activity android:name=".new_version.activity.b2c.B2CCashFlowDetailActivity" />
        <activity android:name=".new_version.activity.b2c.B2CCashFlowActivity" />
        <activity android:name=".new_version.activity.EntrustDetailActivity" />
        <activity
            android:name=".new_version.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- 以下必写  intent-filter 需要单独写  如果和上面的 MAIN写一起无效 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="biki"
                    android:scheme="biki" />
            </intent-filter>
        </activity>

        <activity
            android:name=".new_version.activity.NewMainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".new_version.redpackage.RedPackageDetailActivity" />

        <activity android:name=".new_version.redpackage.ReceiveRedPackageListActivity" />

        <activity android:name=".new_version.redpackage.GrantRedPackageListActivity" />
        <activity
            android:name=".new_version.contract.HorizonContractMarketDetailActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".new_version.contract.ContractMarketDetailActivity" />
        <activity android:name=".new_version.activity.CashFlow4Activity" />
        <activity android:name=".new_version.activity.CashFlowDetailActivity" />
        <activity android:name=".new_version.activity.ScanningActivity" />
        <activity android:name=".wedegit.gesture.GestureVerifyActivity" />
        <activity android:name=".new_version.activity.EntrustActivity" />
        <activity
            android:name=".new_version.activity.InnerBrowserActivity"
            android:process=":innerBrower" />
        <activity android:name=".new_version.activity.SelectAreaActivity" />
        <activity android:name=".new_version.activity.personalCenter.SafetySettingActivity" />
        <activity android:name=".new_version.activity.NewBaseActivity" />
        <activity android:name=".new_version.activity.personalCenter.MailActivity" />
        <activity
            android:name=".new_version.activity.CoinMapActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".new_version.activity.personalCenter.HelpCenterActivity" />

        <activity
            android:name=".new_version.activity.personalCenter.UdeskWebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".new_version.activity.asset.WithdrawAddressActivity" />
        <activity android:name=".new_version.activity.personalCenter.PersonalInfoActivity" />
        <activity android:name=".new_version.activity.CoinActivity" />
        <activity android:name=".new_version.activity.personalCenter.NoticeActivity" />
        <activity android:name=".new_version.activity.ItemDetailActivity" />
        <activity android:name=".new_version.activity.personalCenter.AboutActivity" />
        <activity android:name=".new_version.activity.asset.PaymentMethodActivity" />
        <activity android:name=".new_version.activity.BlackListActivity" />
        <activity android:name=".new_version.activity.OTCChangePaymentActivity" />
        <activity android:name=".new_version.activity.personalCenter.OTCChooseLanguageActivity" />
        <activity
            android:name=".new_version.activity.otcTrading.OTCIMActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".new_version.activity.ShowImageActivity" />
        <activity android:name=".new_version.activity.login.FingerprintActivity" />
        <activity
            android:name=".new_version.activity.login.TouchIDFaceIDActivity"
            android:launchMode="singleTask" />
        <activity android:name=".new_version.activity.login.GuideGesturePwdActivity" />
        <activity
            android:name=".new_version.activity.login.GesturesPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".new_version.activity.login.NewVersionLoginActivity"
            android:launchMode="singleTask" />

        <activity android:name=".new_version.activity.login.NewSetPasswordActivity" />
        <activity android:name=".new_version.activity.login.NewPhoneVerificationActivity" />
        <activity android:name=".new_version.activity.login_v2.NewCodeVerificationActivity" />
        <activity android:name=".new_version.activity.FindPwd2verifyActivity" />
        <activity android:name=".new_version.activity.WebviewActivity" />
        <activity android:name=".new_version.activity.personalCenter.NewSettingActivity" />
        <activity
            android:name=".new_version.activity.personalCenter.PersonalCenterActivity"
            android:launchMode="singleTop" />
        <activity android:name=".new_version.activity.personalCenter.BindMobileOrEmailActivity" />
        <activity android:name=".new_version.activity.personalCenter.NewVerifyActivity" />
        <activity android:name=".new_version.activity.personalCenter.SetOrModifyPwdActivity" />
        <activity android:name=".new_version.activity.personalCenter.InvitFirendsActivity" />
        <activity android:name=".new_version.activity.personalCenter.GoogleValidationActivity" />
        <activity android:name=".new_version.activity.personalCenter.RealNameCertificaionDownloadImgActivity" />
        <activity android:name=".new_version.activity.personalCenter.RealNameCertificationActivity" />
        <activity android:name=".new_version.activity.personalCenter.RealNameCertificaionSuccessActivity" />
        <activity android:name=".new_version.activity.personalCenter.RealNameCertificationChooseCountriesActivity" />
        <activity android:name=".new_version.activity.personalCenter.ChangenNetworkActivity"/>
        <activity android:name=".new_version.activity.otcTrading.NewOTCOrdersActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewVersionOTCBuyActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewVersionOTCSellActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewVersionBuyOrderActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewVersionSellOrderActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewVersionPersonInfoActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewAdvertisingDetailActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewAdvertisingManagementActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewReleaseAdvertisingActivity" />
        <activity android:name=".new_version.activity.otcTrading.MineOrderActivity" />
        <activity android:name=".new_version.activity.otcTrading.NewComplaintActivity" />
        <activity android:name=".new_version.activity.asset.ConfirmWithdrawActivity" />
        <activity android:name=".new_version.activity.asset.WithdrawActivity" />
        <activity android:name=".new_version.activity.asset.IdentityAuthenticationActivity" />
        <activity android:name=".new_version.activity.asset.IdentityAuthenticationResultActivity" />
        <activity
            android:name=".new_version.activity.asset.NewVersionAddAddressActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".new_version.activity.asset.NewVersionTransferActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".new_version.activity.asset.NewVersionContractBillActivity" />
        <activity android:name=".new_version.activity.asset.NewVersionMyAssetActivity" />
        <activity android:name=".new_version.activity.asset.NewVersionBorrowingActivity" />
        <activity android:name=".new_version.activity.asset.CurrencyLendingRecordsActivity" />
        <activity
            android:name=".new_version.activity.asset.GiveBackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".new_version.activity.MarketDetail4Activity" />
        <activity android:name=".new_version.contract.NContractCurrentEntrustActivity" />
        <activity android:name=".new_version.contract.NContractHistoryEntrustActivity" />

        <activity
            android:name=".new_version.activity.HorizonMarketDetailActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".new_version.activity.SelectCoinActivity" />
        <activity android:name=".new_version.activity.asset.DepositActivity" />
        <activity android:name=".new_version.redpackage.CreateRedPackageActivity" />

        <activity android:name=".new_version.activity.EntrustDetialsActivity" />

        <!-- 合约start -->
        <activity android:name=".contract.activity.SlContractEntrustActivity" />
        <activity android:name=".contract.activity.SlContractEntrustDetailActivity" />
        <activity
            android:name=".contract.activity.SlHoldShareActivity"
            android:theme="@style/SlTransparentActivity" />
        <activity android:name=".contract.activity.SlContractSettingActivity" />
        <activity
            android:name=".contract.activity.SlContractCalculateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".contract.activity.SlContractDetailActivity" />
        <activity
            android:name=".contract.activity.SlContractKlineActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".contract.activity.SlContractHKlineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".contract.activity.SlCoinDetailActivity" />
        <activity android:name=".contract.activity.SlContractAssetRecordActivity" />
        <activity android:name=".contract.activity.SlContractHistoryHoldActivity" />
        <activity android:name=".contract.activity.SlAdjustMarginActivity" />
        <activity android:name=".contract.activity.SlSelectLeverageActivity" />
        <activity
            android:name=".contract.activity.SlContractStopRateLossActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".contract.activity.SlContractSearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".new_version.activity.personalCenter.ContractAgentActivity" />

        <!-- 合约end -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <!-- firebase-->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".manager.DataInitService" />

        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="false"
            android:label="NotificationCenter"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
        <service
            android:name=".extra_service.push.HandlePushIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 用户自定义服务名 -->
        <service
            android:name=".extra_service.push.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <activity android:name=".extra_service.push.PushControll" android:theme="@style/Theme.Style.Push" />
        <activity android:name=".new_version.activity.personalCenter.push.PushSettingsActivity"/>

    </application>


</manifest>
