<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.follow.order">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.FollowOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FollowSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>